<dialog #modaleUtente id="dialogoModifica" class="flex-row">
  <button class="btn-chiudi" (click)="ChiudiModale()">
    <ion-icon name="close" />
  </button>
  <ContenitoreNotifiche />
  <div class="pagina-dialogo">
    <h1>Aggiungi utente</h1>
    <div class="wrapper flex-col">
      <div class="info-utente sopra">
        <div class="flex-row header-info">
          <h3>Informazioni personali</h3>
        </div>
        <form class="cont-utente">
          <InputText 
            icona="person" 
            name="info-nome"
            id-input="info-nome"
            testo-label="Nome" 
            [messaggio-errore]="infoPersonali.errori['info-nome']"
            [(ngModel)]="utente.nome"
            (onChange)="VerificaInputPersonali($event)"
            (onKeyDown)="infoPersonali.errori['info-nome']=''; ControllaErroriPersonali()"
          />
          <InputText 
            icona="person" 
            name="info-cognome"
            id-input="info-cognome"
            testo-label="Cognome" 
            [messaggio-errore]="infoPersonali.errori['info-cognome']"
            [(ngModel)]="utente.cognome"
            (onChange)="VerificaInputPersonali($event)"
            (onKeyDown)="infoPersonali.errori['info-cognome']=''; ControllaErroriPersonali()"
          />
          <InputText 
            icona="at" 
            name="info-username"
            id-input="info-username"
            testo-label="Username" 
            [messaggio-errore]="infoPersonali.errori['info-username']" 
            [(ngModel)]="utente.username"
            (onChange)="VerificaInputPersonali($event)"
            (onKeyDown)="infoPersonali.errori['info-username']=''; ControllaErroriPersonali()"
          />
          <InputText 
            icona="mail" 
            name="info-mail"
            id-input="info-mail"
            testo-label="E-Mail" 
            [messaggio-errore]="infoPersonali.errori['info-mail']"
            [(ngModel)]="utente.email"
            (onChange)="VerificaInputPersonali($event)"
            (onKeyDown)="infoPersonali.errori['info-mail']=''; ControllaErroriPersonali()"
          />
          <InputText 
            icona="call" 
            name="info-telefono"
            id-input="info-telefono"
            testo-label="Telefono" 
            [messaggio-errore]="infoPersonali.errori['info-telefono']"
            [(ngModel)]="utente.telefono"
            (onChange)="VerificaInputPersonali($event)"
            (onKeyDown)="infoPersonali.errori['info-telefono']=''; ControllaErroriPersonali()"
          />
          <Dropdown 
            testo-label="2FA Abilitato"
            name="info-2FA"
            id-input="info-2FA"
            icona="lock-closed" 
            [disabilitato]="!regexInput['telefono'].test(utente['telefono'])" 
            [opzioni]="opzioniSiNo"
            [(ngModel)]="utente['2FA']"
            (onChange)="VerificaInputPersonali($event)"
            (onInput)="infoPersonali.errori['info-2FA']=''; ControllaErroriPersonali()"
          />
        </form>
      </div>
      <form class="info-utente">
        <div class="flex-row header-info">
          <h3>Informazioni lavoro</h3>
        </div>
        <div class="cont-utente">
          <Dropdown 
            testo-label="Ruolo" 
            icona="briefcase"
            name="lavoro-ruolo"
            id-input="lavoro-ruolo"
            [opzioni]="opzioniRuolo" 
            [(ngModel)]="utente.ruolo"
            (ngModelChange)="ControllaRuolo()"
          />
          <p-calendar 
            [(ngModel)]="utente.assuntoIl" 
            dateFormat="yy-mm-dd"
            name="lavoro-assuntoIl"
            [firstDayOfWeek]="1"
            [iconDisplay]="'input'" 
            [showIcon]="true"
          >
          </p-calendar>
          <Dropdown 
            testo-label="Attivo"
            icona="accessibility" 
            name="lavoro-attivo"
            id-input="lavoro-attivo"
            [opzioni]="opzioniSiNo" 
            [(ngModel)]="utente.attivo"
          />
          <InputText icona="file-tray-full" testo-label="Perizie attive" [mockup]="true" valore="1"/>
        </div>
      </form>
      <div class="info-utente flex-row">
        <button 
          class="accento" 
          [disabled]="!infoPersonali.valide" 
          (click)="CreaUtente()"
          [class.caricamento]="caricamento" 
        >                
        <ion-icon name="checkmark"></ion-icon>
          <span>Applica</span>
          <i class="pi pi-spin pi-spinner"></i>
        </button>
        <button (click)="ChiudiModale()">
          <ion-icon name="close"></ion-icon>
          Annulla
        </button>
      </div>
    </div>
  </div>
</dialog>