dialog{
    border: 0;
    padding: 0;
    background-color: #f5f6f8;
    border-radius: 1rem;
    padding: 2rem;
    animation: appari .3s cubic-bezier(0.22, 0.61, 0.36, 1);

    &.chiudi{
        animation: scompari .3s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
        &::backdrop{
            animation: scompari .3s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
        }
    }

    .btn-chiudi{
        position: absolute;
        top: 2rem;
        right: 2rem;
        outline-color: transparent;
    }

}

button{
    font-size: 1.1rem;
    padding: .5rem 1rem;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: .5rem;
    gap: .5rem;
    display: flex;
    align-items: center;
    user-select: none;
    caret-color: transparent;
    transition: opacity .3s;

    &:disabled{
        opacity: .5;
    }

    ion-icon{
        font-size: 1.5rem;
        scale: 1.2;
    }

    &.accento{
        background-color: var(--accento);
        color: #FFF;
        border-color: transparent;
    }

    *{
        color: inherit;
    }
}

@keyframes appari{
    from{ opacity: 0; }
    to{ opacity: 1; }
}

@keyframes scompari{
    from{ opacity: 1; }
    to{ opacity: 0; }
}

dialog{
    padding: 0;
    height: calc(100dvh - 8rem);
    background-color: #f5f6f8;

    .row-bottoni{
        gap: 1rem;

        ion-icon{
            font-size: 1rem;
        }
    }

    &::backdrop{
        background-color: rgba(0, 0, 0, .5);
    }

    h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .pagina-dialogo{
        padding-left: 1rem;
        padding: 2rem;

        .wrapper{
            background-color: #FFF;
            padding: 2rem;
            gap: 1rem;
            border-radius: 1rem;
            
            hr{
                background-color: #CCC;
                margin-block: 1rem;
            }

            & > .flex-row{
                gap: 1rem;
            }
    
            .cambia-immagine{
                align-items: flex-start;
                gap: 1rem;
    
                p{
                    color: #AAA;
                    font-size: .9rem;
                }
            }
    
            .header-info{
                justify-content: space-between;
                margin-bottom: 1rem;
            
                h3{
                    display: grid;
                    place-items: center;
                }
            }
    
            .info-utente{
                padding: 1rem;
                border-radius: 1rem;
                border: 1px solid #CCC;

                &.sopra{
                    z-index: 2;
                }
            }

            .elimina-immagine{
                overflow: clip;
                border-radius: 100vh;
                position: relative;
                aspect-ratio: 1;

                span{
                    opacity: 0;
                    pointer-events: none;
                    transition: opacity .3s cubic-bezier(0.075, 0.82, 0.165, 1);
                    background-color: #000A;
                    position: absolute;
                    inset: 0;
                    display: grid;
                    place-items: center;
                    color: #FFF;
                    cursor: pointer;
                    font-size: 2rem;
                }

                &:hover{
                    span{
                        opacity: 1;
                        pointer-events: unset;
                    }
                }


            }
    
            .cont-utente{
                display: flex;
                flex-flow: row wrap;
                gap: 1rem;

                InputText{
                    z-index: 0;
                }
                
                InputText::ng-deep, Dropdown::ng-deep{
                    
                    --colore-testo: #000;
                    --colore-normale: #CCC;
                    --br: .5rem;

                    min-width: 49%;
                    flex-grow: 1;

                    label{
                        color: var(--colore-normale);
                    }

                    .cont:not(.mockup){
                        --colore-testo: #000;
                        --colore-normale: #000;

                        label{
                            color: unset;
                        }
                    }

                    .cont.errore{
                        --colore-testo: #eb4e4e;
                        --colore-normale: #eb4e4e;

                        label{
                            color: var(--colore-normale);
                        }
                    }

                    .cont:has(input:focus){
                        outline-color: color-mix(in srgb, 50% var(--accento), transparent 50%);
                    }

                    &:hover{
                        border-color: var(--accento);

                        ion-icon:not(.disabilitato){
                            color: var(--accento);
                        }
                    
                        hr:not(.disabilitato){
                            border-color: var(--accento);        
                        }
                    }
                }
            }
        }
    }
    
    ImmagineProfileDefault{
        aspect-ratio: 1;
        border-radius: 100vh;
        background-color: #AAA;
        caret-color: transparent;
        overflow: hidden;
    }
    
    .immagine-utente{
        height: 8rem;
        aspect-ratio: 1;
        font-size: 4rem;
        object-fit: cover;
        border-radius: 100vh;
    }
}


p-calendar::ng-deep{
    &.mockup::ng-deep{
        pointer-events: none;
        caret-color: transparent;
    }

    &:not(.mockup){
        .p-inputtext:enabled:hover {
            border-color: var(--accento);
        }
    }

    min-width: 49%;
    flex-grow: 1;
    
    & > *{
        width: 100%;
    }

    .p-inputtext{
        border-radius: .5rem;
        padding: .5rem;
        opacity: 1 !important;
        cursor: pointer;
        border-color: #000;

        &:disabled{
            cursor: not-allowed !important;
            border-color: #CCC !important;
        }
    }

    .p-calendar{
        position: relative;

        &::before{
            content: 'Assunto Il';
            position: absolute;
            border-radius: .5rem;
            background-color: #FFF;
            padding: 0 .5rem;
            top: -.5rem;
            left: 2rem;
            color: #CCC;
            font-size: .75rem;
        }

    }

    .p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
        box-shadow: 0 0 0 0.2rem color-mix(in srgb, var(--accento) 40%, transparent 40%);
        border-color: var(--accento) ;
    }

    .p-datepicker table td > span.p-highlight {
        color: var(--accento);
        background: color-mix(in srgb, var(--accento) 10%, transparent 90%);
    }

    .p-datepicker{
        translate: 0 .5rem;
        filter: drop-shadow(0 0 1rem rgba(0, 0, 0, .1));
        border-radius: .5rem;
    }

    .p-input-icon-right input{
        padding-left: 2.5rem;
    }

    .p-input-icon-right > .p-icon-wrapper{
        right: initial;
        left: .75rem;
        padding-right: .5rem;
        border-right: 1px solid #CCC;

        svg{
            display: none;
        }

        &::before{
            content: url('/assets/icon/calendar.svg');
            width: 1rem;
            height: 1rem;
        }
    }
}

button:not(.caricamento){
    i{
        display: none;
    }
}

.caricamento{
    position: relative;

    ion-icon, span{
        visibility: hidden;
    }

    i{
        position: absolute;
        left: 50%;
        translate: -50% 0;
    }

}