<form #formCambio class="flex-col">
  <img src="assets/login/logo.jpg" class="logo"/>
  <span class="wrapper-transizione flex-col">
    <span class="flex-col jc-c">
      <h1>Ancora un passo...</h1>
      <div class="piccolo">
        <span class="flex-row jc-c al-c">
          Per motivi di sicurezza devi cambiare la password
          <PopOver 
            [messaggio]="'Puoi ancora aspettare ' + (sinc.giorniMancanti || 0) + ' giorn' + (sinc.giorniMancanti && sinc.giorniMancanti == 1 ? 'o' : 'i') + ' dopo a cui diventerà obbligatorio'"
            [mockup]="true"  
          />
        </span>
      </div>
    </span>
  </span>
  <div class="form-item">
    <InputPassword
      testo-label="Password"
      [mockup]="true"
    />
  </div>
  <div class="form-item">
    <InputPassword
      testo-label="Conferma password"
      [messaggio-errore]="sinc.errori['conferma']"
      [mockup]="true"
    />
  </div>

  <div class="form-row">
    <button type="submit" [disabled]="!sinc.valido" class="btn-accento">Continua</button>
    <button type="button" 
      [disabled]="!sinc.giorniMancanti || sinc.giorniMancanti <= 0"
    >Salta</button>
  </div>
</form>