.icona-input{
    filter: drop-shadow(0 0 1rem transparent);
}

.icona-toggle{
    cursor: pointer;
}

:host:has(input:focus-visible){
    .icon-input{
        filter: drop-shadow(0 0 1rem var(--accento));
    }

    label{
        color: var(--accento);
    }
}

:host:has(input:disabled){    
    label, .icon-input{
        color: var(--colore-disabilitato);
    }
}