
<div class="cont flex-row" [class.errore]="errore" [class.disabilitato]="disabilitato">
  @if(icona){
    <ion-icon [name]="icona" class="icona icona-input" [class.disabilitato]="disabilitato"/>
    <hr [class.disabilitato]="disabilitato"/>
  }
  <div class="flex-row" >
    <label [attr.for]="idInput">{{ errore || testoLabel }}</label>
    <input 
      placeholder=""
      [disabled]="disabilitato"
      [attr.type]="passwordVisibile ? 'text' : 'password'" 
      [attr.id]="idInput"
      [attr.name]="name"
      [attr.value]="value" 
      (input)="!mockup && Input($event)" 
      (blur)="!mockup && onTouched()"
      (change)="!mockup && Cambiato($event)"
      (focusin)="focusIn.emit()"
      (focusout)="focusOut.emit()"
    />
  </div>
  <ion-icon 
    [class.disabilitato]="disabilitato"
    [attr.name]="passwordVisibile ? 'eye' : 'eye-off'" 
    (click)="input?.focus();passwordVisibile = !passwordVisibile"
    class="icona-toggle"
  />
</div>