<dialog #dialogo [style]="{ '--colore': colore ? colore : '#000'}" >
  <div class="flex-col al-c jc-c">
    <ion-icon [name]="icona"></ion-icon>
    <span>
      <h1>{{titolo}}</h1>
      <p>
        {{messaggio}}
      </p>
    </span>
    <div class="flex-row jc-c">
      <button (click)="ChiudiModale(true)" class="conferma" [class.caricamento]="inCaricamento">
        <span>{{si}}</span>
        <i class="pi pi-spin pi-spinner"></i>
      </button>
      <button (click)="ChiudiModale(false)">{{ no }}</button>
    </div>
  </div>
</dialog>