:host{
    display: inline;
    font-size: inherit;
    position: relative;
    z-index: 1000;
    height: 1em;
    width: 1em;
}



.wrapper-popover{
    transform: scale(7.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-icon{
    transform: scale(.2);
    cursor: pointer;
}

h4, .testo{
    margin: 0;
    text-align: left;
}

.messaggio-popover{
    --dim-robo: 1.5rem;
    --larg: 15rem;
    position: absolute;
    bottom: calc(100% + var(--dim-robo) / 2);
    background-color: #FFF;
    padding: .5rem;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
    border-radius: .5rem;
    width: var(--larg);
    left: calc(50% - var(--larg) / 2);
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.testo{
    white-space: initial;
}

.messaggio-popover::after{
    content: '';
    position: absolute;
    transform: rotate(45deg);
    width: var(--dim-robo);
    height: var(--dim-robo);
    border-radius: .25rem;
    background-color: #FFF;
    transform: rotate(45deg);
    left: calc(50% - var(--dim-robo) / 2);
    z-index: -1;
}

.wrapper-popover:has(ion-icon:hover) + .messaggio-popover{
    opacity: 1;
}