<div class="cont flex-col" [class.errore]="errore">
  <div class="flex-row">
    <input type="text" name="n1" [attr.id]="!mockup ? 'n1' : null" autocomplete="off" placeholder="#" (input)="!mockup && CambiaInput(0)" #n0 (keydown)="!mockup && GestisciKey($event, 0)" [(ngModel)]="sinc.caratteriCodice[0]" (paste)="!mockup && Incolla($event, 0)">
    <input type="text" name="n0" [attr.id]="!mockup ? 'n0' : null" autocomplete="off" placeholder="#" (input)="!mockup && CambiaInput(1)" #n1 (keydown)="!mockup && GestisciKey($event, 1)" [(ngModel)]="sinc.caratteriCodice[1]" (paste)="!mockup && Incolla($event, 1)">
    <input type="text" name="n2" [attr.id]="!mockup ? 'n2' : null" autocomplete="off" placeholder="#" (input)="!mockup && CambiaInput(2)" #n2 (keydown)="!mockup && GestisciKey($event, 2)" [(ngModel)]="sinc.caratteriCodice[2]" (paste)="!mockup && Incolla($event, 2)">
    <input type="text" name="n3" [attr.id]="!mockup ? 'n3' : null" autocomplete="off" placeholder="#" (input)="!mockup && CambiaInput(3)" #n3 (keydown)="!mockup && GestisciKey($event, 3)" [(ngModel)]="sinc.caratteriCodice[3]" (paste)="!mockup && Incolla($event, 3)">
    <input type="text" name="n4" [attr.id]="!mockup ? 'n4' : null" autocomplete="off" placeholder="#" (input)="!mockup && CambiaInput(4)" #n4 (keydown)="!mockup && GestisciKey($event, 4)" [(ngModel)]="sinc.caratteriCodice[4]" (paste)="!mockup && Incolla($event, 4)">
    <input type="text" name="n5" [attr.id]="!mockup ? 'n5' : null" autocomplete="off" placeholder="#" (input)="!mockup && CambiaInput(5)" #n5 (keydown)="!mockup && GestisciKey($event, 5)" [(ngModel)]="sinc.caratteriCodice[5]" (paste)="!mockup && Incolla($event, 5)" (keydown.enter)="InviaCodice()">
  </div>
  <div class="messaggio-errore flex-row">
    <ion-icon name="alert-circle"></ion-icon>
    <span>{{ errore }}</span>
  </div>
</div>