:host{
    --altezza-form: 40rem;
    --larghezza-pannello: 30rem;
    --br: 1.5rem;
    --durata-transizione: .5s;
    --sfondo-form: #FFF;
    display: grid;
    place-items: center;
    justify-content: initial !important;
    height: 100dvh;
    width: 100dvw;
}



.flex-row{
    background-color: var(--sfondo-form);
    border-radius: var(--br);
    overflow: clip;
    position: relative;

    & > *{
        border-radius: var(--br);
    }
}

main{
    --max-width: auto;
    height: var(--altezza-form);
    position: relative;
    display: flex;
    width: var(--max-width);
    z-index: 0;

    &:has(PopOver .messaggio-popover.visibile){
        z-index: 2;
    }
}

.flex-row:has(Tooltip){
    overflow: visible;
}

ion-router-outlet{
    position: relative;
    display: flex;
    flex-grow: 1;
    contain: initial;
}

.cont-img{
    --offset-interno: .5rem;
    width: var(--larghezza-pannello);
    padding: var(--offset-interno);
    background-color: #FFF;
    position: relative;
}

.img{
    background-image: url(https://images.unsplash.com/photo-1643228995868-bf698f67d053?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    border-radius: calc(var(--br) - var(--offset-interno));
    z-index: 1;
    position: absolute;
    inset: var(--offset-interno);
}

.overlay{
    position: absolute;
    inset: 0;
    display: flex;
    z-index: -1;
    pointer-events: none;
}

.overlay > *{
    position: absolute;
    inset: 0;
    pointer-events: none;
    visibility: hidden;
    top: 0;
    bottom: 0;
}

.overlay.visibile{
    z-index: 1;
}

.overlay > *:has(.mostra){
    display: flex block;
    visibility: visible;
}

LoaderBarra{
    position: absolute;
    top: 0;
    left: var(--br);
    right: var(--br);
    z-index: 3;
}


@media screen and (max-aspect-ratio: .8) {
    :host{
        // display: none !important;
        & > div{
            flex-direction: column !important;
        }

        form{
            padding: 2rem ;
        }
    }  
}