:host{
    display: flex;
    flex-direction: row !important;
    contain: initial !important;
    flex-grow: 1;
    --gap: 1.5rem;
}



form, .form{
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

form.misura{
    position: absolute;
    top: 0;
    bottom: 0;
}

h1{
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0;
    text-align: center;
    white-space: nowrap;
}

label{
    font-size: .75rem;
    margin-bottom: .5rem;
}

.btn-accento, h1{
    margin-bottom: .5rem;
}

.form-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.form-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

.logo{
    --x:0;
    --y:0;
    transform: translate(var(--x), var(--y));
    user-select: none;
    caret-color: transparent;
    height: 4rem;
    width: 4rem;
    border-radius: 100vh;
}

.piccolo{
    text-align: center;
    font-size: .75rem;
}

:host.ion-page-invisible{
    position: absolute;
    top: 0;
    bottom: 0;
}

button{
    --dim: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-block: calc(var(--dim) * 0.75);
    gap: calc(var(--dim) / 2);
    width: 100%;
    border-radius: .5rem;
    background-color: #F2F2F2;
    color: #000;
    font-size: var(--dim);
    transition: all var(--durata-transizione) cubic-bezier(0.22, 0.61, 0.36, 1);
    cursor: pointer;
    caret-color: transparent;
}

button:disabled{
    filter: saturate(.5);
    opacity: .5;
}

button:not(:disabled):active{
    transform: scale(.95);
}

button:not(:disabled):hover{
    filter: drop-shadow(0 0 5px var(--sfondo));
}

.btn-accento{
    color: #F2F2F2;
    background-color: var(--accento);
}

.btn-accento:not(:disabled):hover{
    filter: drop-shadow(0 0 5px var(--accento));
}


.btn-accento:not(:disabled):active{
    background-color: color-mix(in hsl, var(--accento) 95%, #000 5%);
}