<ion-content [fullscreen]="true">
  <main>
    <form [formGroup]="form" (submit)="Registrazione()">
      <h1>Registrazione</h1>
      <div class="form-item">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required formControlName="username">
      </div>
      <div class="form-item">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required formControlName="email">
      </div>
      <div>
        <span>Hai già un account?&nbsp;</span>
        <a href="/login">Accedi</a>
      </div>
      <br>
      <div class="form-item">
        <button type="submit">Registrati</button>
      </div>
    </form>
  </main>
</ion-content>
