<div class="cont flex-row" (click)="Toggle()" [class.mockup]="mockup || disabilitato" [class.disabilitato]="disabilitato" [class.sopra]="sopra">
  @if(icona){
    <ion-icon [name]="icona"/>
    <hr/>
  }
  <div class="flex-row">
    <label [attr.for]="idInput" [class.haValore]="opzioniSelezionate.length">{{ testoLabel }}</label>
    <div class="valore">{{ Testo() }}</div>
    <div class="abbassa">
      <ion-icon name="chevron-down" class="icona"></ion-icon>
    </div>
  </div>
  <div class="opzioni" [class.aperto]="aperto">
    <div> 
      <div class="wrapper-opzione">
        <div class="cont-opzioni flex-col" #contopzioni>
          @for (opzione of opzioni; track $index) {
            <div class="opzione" (click)="Seleziona($event)" [class.selezionata]="IsSelezionata(opzione)">
              <input type="hidden" [value]="opzione.valore"/>
              <span>{{ opzione.testo }}</span>
              <ion-icon name="checkmark"/>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>