:host{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 2rem 1rem 1rem 1rem;
    background-color: #FFF;
    border-radius: 1.5rem;
}

VoceAside{
    transition: color .3s cubic-bezier(0.22, 0.61, 0.36, 1), box-shadow .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    user-select: none;
    &.selezionata{
        color: #FFF;
    }
}

.cella{
    position: absolute;
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    color: transparent;
    user-select: none;
    border-radius: .5rem;
    background-color: var(--accento);
    transition: top .3s cubic-bezier(0.22, 0.61, 0.36, 1);

    &.posizione-0{
        top: 0;
    }

    &.posizione-1{
        top: calc(2 * (1.25rem + 1rem));
    }

    &.posizione-2{
        top: calc(4 * (1.25rem + 1rem));
    }
}

#wrapperAside{
    align-items: center;
    flex-grow: 1;
    position: relative;
    gap: 1rem;
}

#wrapperHead{
    gap: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
    padding-block: 1rem 2rem;

    img{
        height: 3rem;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 100vh;
    }
}

.wrapper-logout{
    padding: 1rem;
    border: 1px solid #CCC;
    border-radius: 1rem;
    gap: 1rem;

    & > .flex-col{
        flex-grow: 1;
        min-width: 0;

        h6{
            font-size: 1.1rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p{
            color: #AAA;
            font-size: .8rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    button{
        aspect-ratio: 1;
        border: 1px solid #CCC;
        background-color: #FFF;
        border-radius: .5rem;

        ion-icon{
            scale: 1.5;
        }
    }
}

.img, ImmagineProfileDefault{
    height: 3rem;
    width: 3rem;
    border-radius: 100vh !important;
    background-color: #AAA;
    caret-color: transparent;
    background-size: cover;
}

ImmagineProfileDefault::ng-deep{
    div{
        scale: 1.5;
    }
}

[loader]{
    --grigio: #EEE;
    border-radius: .25rem;
    background-color: var(--grigio);
    color: transparent !important;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    color: transparent;

    &::before{
        content: ' ';
        position: absolute;
        z-index: 1;
        transform: translateY(-50%) rotateZ(.1turn);
        top: 1rem;
        height: 4rem;
        width: 1rem;
        background-color: color-mix(in srgb, var(--grigio) 75%, #000 25%);
        left: -200%;
        animation: caricamento 1s infinite linear;
        filter: blur(1rem);
    }
}

@keyframes caricamento{
    0%{
        left: -200%;
    }
    100%{
        left: 200%;
    }
}


@media screen and (max-aspect-ratio: 1.4){
    :host{
        width: auto !important;

        #wrapperHead{
            flex-direction: column;
        
            span{
                font-size: 1rem;
            }
        }

        .wrapper-logout{
            flex-direction: column;
            gap: 1rem;
            position: relative;
            align-items: center;

            .flex-col{
                display: none;
            }

            button{
                position: absolute;
                inset: 0;
                opacity: 0 !important;
                aspect-ratio: initial;
            }
        }
    }

}

@media screen and (max-aspect-ratio: 1){
    :host{
        span{
            display: none;
        }

        .wrapper-logout{
            padding: 0;
            border: 0;
        }
    }
}

@media screen and (max-aspect-ratio: 0.6){
    :host{ 
        flex-direction: row !important;
        gap: 1rem;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 1rem;

        #wrapperHead{
            padding: 0;
            margin-block: auto;
        }

        #wrapperAside{
            flex-direction: row;
            gap: 1rem;
            align-items: flex-start;
            justify-content: center;

            .cella{
                display: none;
            }
        }

        .img, ImmagineProfileDefault{
            margin-block: auto;
        }
    }
}