<form class="flex-col" #formHtml>
  <img src="assets/login/logo.jpg" class="logo"/>
  <span class="flex-col jc-c">
    <h1>Reset Password</h1>
    <div class="piccolo">
      <span>Inserisci la tua nuova password</span>
    </div>
  </span>
  <div class="form-item">
    <InputPassword 
      name="password"
      testo-label="Nuova Password"
      icona="lock-closed"
      [mockup]="true"
      [valore]="sinc.valori['password']"
    />
  </div>
  <div class="form-item">
    <InputPassword 
      name="password"
      testo-label="Nuova Password"
      icona="lock-closed"
      [messaggio-errore]="sinc.errori['conferma']"
      [mockup]="true"
      [valore]="sinc.valori['conferma']"
    />
  </div>
  <div class="form-item">
    <button type="button" class="btn-accento" [disabled]="!sinc.valido">Cambia Password</button>
  </div>
</form>