:host{
    --testo-label: .75rem;
    --padding: .5rem;
    --colore-normale: #d1d5db;
    --colore-testo: #4b5563;
    --font-size: 1rem;
    --br: .5rem;

    display: flex;
    align-items: center;
    user-select: none;
    caret-color: transparent;

    &:has(.cont.mockup){
        cursor: not-allowed;
    }
}

.mockup{
    pointer-events: none;
    caret-color: transparent;

    *{
        caret-color: transparent;
    }
}

.cont{
    padding: var(--padding) calc(var(--padding) * 1.5);
    border: 1px solid var(--colore-normale);
    border-radius: var(--br);
    background-color: #FFF;
    outline: 3px solid;
    outline-color: transparent;
    transition: all .33s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.flex-row{
    position: relative;
    align-items: center;
    flex-grow: 1;
}

hr{
    width: 0;
    height: var(--font-size);
    margin-inline: var(--padding);
    border-left: 1px solid;
    border-color: var(--colore-normale);
}

input{
    width: 100%;
    background-color: transparent;
    border: 0;
    caret-color: var(--colore-testo);
    color: var(--colore-testo);
    font-size: var(--font-size);
    outline: 0px solid transparent !important;
}

label{
    content: attr(testo-label);
    position: absolute;
    top: 0;
    left: 0;
    padding-inline: 0;
    pointer-events: none;
    border-radius: var(--padding);
    background-color: #FFF;
    color: color-mix(in srgb, var(--colore-testo) 50%, transparent 50%);
    font-size: var(--font-size);
}

.errore label{
    color: var(--accento);
}

ion-icon{
    color: var(--colore-testo);
}

:host, label, ion-icon, hr, input{
    transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.cont:not(.mockup){
    input:focus-visible{
        outline: none;
        border: 0;
    }
    
    &:hover,
    &:focus-within{
        border-color: var(--accento);
       
        ion-icon:not(.disabilitato){
            color: var(--accento);
        }
    
        hr:not(.disabilitato){
            border-color: var(--accento);        
        }
    }
    
    &:focus-within{
        outline-color: color-mix(in srgb, var(--accento) 40%, transparent 60%);
    }
}

:host:focus-within,
:host:not(:has(input:placeholder-shown)){
    label{
        top: calc(var(--padding) * -2);
        left: calc(var(--padding) * -1);
        font-size: var(--testo-label);
        padding-inline: calc(var(--padding) / 2);
    }
}
    

.disabilitato{
    --colore-testo: #4b5563;
    --colore-normale: #d1d5db;

    &, label{
        pointer-events: none;
        opacity: .5;
    }
    
}

:host.cambia-form input,
:host.cambia-form input{
    color: transparent !important;
}

.errore{
    --accento: #e24c4c;
    --colore-normale: #e24c4c;
    --colore-testo: #e24c4c;
    animation: errore .5s;
}

@keyframes errore {
    0%, 100% { transform: translateX(0); }
    25%, 75% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
}

:host.abilitato{
    --colore-normale: #CCC;
    --br: .5rem;

    label{
        color: var(--colore-normale);
    }

    .cont{
        --colore-testo: #000;
        --colore-normale: #000;

        label{
            color: unset;
        }
    }

    .cont.errore{
        --colore-testo: #eb4e4e;
        --colore-normale: #eb4e4e;

        label{
            color: var(--colore-normale);
        }
    }

    .cont:has(input:focus){
        outline-color: color-mix(in srgb, 50% var(--accento), transparent 50%);
    }

    &:hover{
        border-color: var(--accento);

        ion-icon:not(.disabilitato){
            color: var(--accento);
        }
    
        hr:not(.disabilitato){
            border-color: var(--accento);        
        }
    }
}