<div 
  class="cont-immagini flex-row"
  [class.no-immagini]="!immagini.length"
  [style]="{
    '--tempo-transizione': tempoTransizione + 'ms',
    'height': altezzaImmagine
  }"
>
  <div class="immagini">
    @for (img of immagini; track $index) {
      <div
        class="img"
        [class.quadrate]="quadrate"
        [attr.commento]="img.commento"
        [class.no-transizione]="noTransizione"
        [class.disabilita-hover]="disabilitaHover"
        [class.selezionata]="$index == indice || grandezza == $index"
        [class.riduci]="inTransizione && indicePrecedente == $index && indicePrecedente < indice"
        [class.allarga]="inTransizione && indicePrecedente == $index && indicePrecedente > indice"
        [style]="PrendiStile(img)"
      ></div>
    }
  </div>
  @if(immagineTransizione && indicePrecedente < indice){
    <div 
      class="img immagine-transizione"
      [class.quadrate]="quadrate"
      [class.scompari]="this.inTransizione"
      [style]="{'--img': 'url(' + immagineTransizione.url + ')'}"
    ></div>
  }

  @if(!immagini.length){
    <h1>Nessuna immagine presente</h1>
    <p>Tocca "+" per aggiungerne una</p>
  }
</div>
<div class="cont-controlli flex-row al-c">
  <div class="row-bottoni flex-row">
    <button (click)="Cambia(false)">
      <ion-icon name="chevron-back"></ion-icon>
    </button>
    <button (click)="Cambia(true)">
      <ion-icon name="chevron-forward"></ion-icon>
    </button>
  </div>
  @if(nascondiTutte == false){
    <button class="flex-row al-c vedi-tutte" (click)="onVisualizza.emit()">
      Vedi Tutte
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  }
  @else if(controlliImmagine){
    <div class="row-bottoni flex-row">
      <button (click)="onRimuovi.emit()" [disabled]="disabilitato">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button class="accento" (click)="onAggiungi.emit()" [disabled]="disabilitato">
        <ion-icon name="add"></ion-icon>
      </button>
    </div>
  }
</div>