:host{
    position: relative;
}

form{
    color: #000;
    padding: 2rem 6rem;
    background-color: #FFF;
    width: var(--max-width);
}

@media screen and (max-aspect-ratio: .8) {
    :host{

        form{
            padding: 2rem;
    
        }
    }  
}