dialog{
    border: 0;
    margin: 0;
    padding: 0;
    max-height: unset;
    max-width: unset;
    animation: appari .3s cubic-bezier(0.22, 0.61, 0.36, 1);
    background-color: #FFF;
    height: calc(100vh - 4rem);
    width: calc(100vw - 4rem);
    overflow: hidden;
    border-radius: 1.5rem;
    padding: 2rem;
    margin: auto;
    gap: 2rem;

    &.chiudi{
        animation: scompari .3s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
        &::backdrop{
            animation: scompari .3s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
        }
    }

    .btn-chiudi{
        position: absolute;
        top: 2rem;
        right: 2rem;
        outline-color: transparent;
    }

    &::backdrop{
        background-color: #000A;
    }

    & > *{
        width: 100%;
    }
}


.cont-img{
    flex-grow: 1;
    gap: 2rem;

    .img{
        height: 100%;
        width: 70%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid #CCC;
        border-radius: 1rem;
    }

    .commento{
        flex-grow: 1;
        display: grid;
        place-items: center;
        font-size: 2rem;
    }

    & > .flex-col{
        flex-grow: 1;

        button{
            margin-left: auto;
        }
    }
}

.barra-img{
    gap: 1rem;
    padding: 1rem 1rem .25rem 1rem;
    height: 10rem;
    overflow-x: scroll;
    scrollbar-gutter: .75rem;
    border: 1px solid #CCC;
    border-radius: 1rem;

    img{
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 1rem;
        border: 1px solid #CCC;
        transition: filter .3s ease;
        cursor: pointer;

        &:not(.selezionata, :hover){
            filter: grayscale(1) contrast(.7);
        }
    }
}

::-webkit-scrollbar {
    width: .75rem;
}

::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 100vh;
    background-color: var(--accento);
}

button{
    font-size: 1.1rem;
    padding: .5rem 1rem;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: .5rem;
    gap: .5rem;
    display: flex;
    align-items: center;
    user-select: none;
    caret-color: transparent;
    transition: opacity .3s;

    &:disabled{
        opacity: .5;
    }

    ion-icon{
        font-size: 1.5rem;
        scale: 1.2;
    }

    &.accento{
        background-color: var(--accento);
        color: #FFF;
        border-color: transparent;
    }

    *{
        color: inherit;
    }
}

@keyframes appari{
    from{ opacity: 0; }
    to{ opacity: 1; }
}

@keyframes scompari{
    from{ opacity: 1; }
    to{ opacity: 0; }
}