form{
    --height: auto;
    height: var(--height);
    width: 100%;
}

.form{
    --max-width: initial;
    border-radius: 1rem;
    color: #000;
    padding: 2rem 6rem;
    background-color: #FFF;
    width: var(--max-width);
}

.invisibile{
    visibility: hidden;
    position: absolute;
    width: auto;
}

@media screen and (max-aspect-ratio: .8) {
    :host{

        form, .form{
            padding: 2rem !important; 
        }
    }  
}