<form class="flex-col" #form>
  <img src="assets/login/logo.jpg" class="logo"/>
  <span class="wrapper-transizione flex-col">
    <span class="flex-col jc-c">
      <h1>Verica identità</h1>
      <div class="piccolo">
        <span class="flex-col jc-c al-c">
          <span>Inserisci il codice che hai ricevuto per SMS</span>
          <span>Codice non ricevuto?&nbsp;<a (click)="InviaCodice()">Invia dinuovo</a></span>
        </span>
      </div>
    </span>
  </span>
  <div class="form-item">
    <label>Codice</label>
    <InputCodice 
      id="codice-mail" 
      (CodiceCambiato)="ControllaCodice($event); sinc.errori['codice'] = ''" 
      [messaggio-errore]="sinc.errori['codice']"
      (conferma)="Conferma($event)"
    />
  </div>
  <div class="form-item">
    <button
      (click)="VerificaCodice()" 
      [disabled]="!sinc.codiceCorretto" 
      type="button" 
      class="btn-accento" 
    >
    Verifica Codice</button>
    <a (click)="NavigaLogin()" class="piccolo">Torna al login</a>
  </div>
</form>