<form [formGroup]="form" class="flex-col" #formCambio>
  <img src="assets/login/logo.jpg" class="logo"/>
  <span class="wrapper-transizione flex-col">
    <span class="flex-col jc-c">
      <h1>Ancora un passo...</h1>
      <div class="piccolo">
        <span class="flex-row jc-c al-c">
          Per motivi di sicurezza devi cambiare la password
          <PopOver [messaggio]="sinc.giorniMancanti && sinc.giorniMancanti > 0 ? 'Puoi ancora aspettare ' + (sinc.giorniMancanti || 0) + ' giorn' + (sinc.giorniMancanti && sinc.giorniMancanti == 1 ? 'o' : 'i') + ' dopo a cui diventerà obbligatorio' : 'Il tempo per cambiare la password è scaduto'"/>
        </span>
      </div>
    </span>
  </span>
  <div class="form-item">
    @if (tooltip) {
      <Tooltip [@appari]/>
    }
    <InputPassword
      id-input="password"
      formControlName="password"
      testo-label="Password"
      (onInput)="Controlla($event)"
      (focusIn)="MostraTooltip()"
      (focusOut)="tooltip = false"
    />
  </div>
  <div class="form-item">
    <InputPassword
      id-input="conferma"
      formControlName="conferma"
      testo-label="Conferma password"
      [disabilitato]="!servizio.valido"
      [messaggio-errore]="sinc.errori['conferma']"
      (onInput)="sinc.errori['conferma'] = ''"
      (onChange)="sinc.errori['conferma'] = !form.valid ? 'Le password non corrispondono' : ''"
    />
  </div>

  <div class="form-row">
    <button type="submit" [disabled]="!form.valid" (click)="Cambia()" class="btn-accento">Continua</button>
    <button type="button" 
      (click)="sinc.giorniMancanti && sinc.giorniMancanti > 0 && router.navigate(['/admin/home'])"
      [disabled]="!sinc.giorniMancanti || sinc.giorniMancanti <= 0"
    >Salta</button>
  </div>
  
</form>