:host{
    width: 30%;
    height: 100%;
    border-radius: 0.5rem;
    margin: 0px auto;
    position: relative;
}
#wrapperText{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    z-index: 2;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: box-shadow 0.2s , color 0.2s;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px lightgray;
}
#wrapperText > div:nth-child(2){
    transition: transform 0.5s;
}
.openSelect{
    background-color: white !important;
    box-shadow: 0px 0px 10px 1px hsl(0, 0%, 70%) !important;
    color: black !important;
}
.openSelect > div:nth-child(2){
    transform: rotateZ(90deg);
} 
#wrapperContent{
    transform: translateY(50%);
    z-index: 1;
    width: 100%;
    height: 0px;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: white;
    transition: height 0.5s;
    box-shadow: 0px 0px 10px 3px lightgray;
    border-radius: 1rem;
}
.openContent{
    height: 300% !important;
    width: 100%;
    overflow-y: scroll !important;
    overflow-x: visible !important;
    background-color: white;
}

#wrapperContent > span{
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.1s;
}
#wrapperContent > span:hover{
    color: white;
    background-color: hsl(0, 0%, 20%);
}
#wrapperText > div:nth-child(1){
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#wrapperText > div:nth-child(2){
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
#wrapperText:hover{
    box-shadow: 0px 0px 10px 1px hsl(0, 0%, 70%);
    color: black;
}

#wrapperContent::-webkit-scrollbar {
    display: none;
}
  
#wrapperContent::-webkit-scrollbar-track {
    background: white;
}
  
#wrapperContent::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.3rem;
}
  
#wrapperContent::-webkit-scrollbar-thumb:hover {
    background: #555;
}